<a {{ attributes.defaults({
    class: "pointer inline-block font-semibold text-light-text-base dark:text-dark-text-base hover:font-bold hover:text-light-text-secondary  hover:dark:text-dark-text-secondary "

}) }}>
    {% block content %} {% endblock %}
</a>

