<h4 {{ attributes.defaults({
    class: "text-sm md:text-base lg:text-xl font-semibold text-light-text-secondary dark:text-dark-text-base leading-4"
}) }}>
    {% block content %} {% endblock %}
</h4>