<article class="w-full p-6 bg-white/10 rounded-lg shadow-lg">
   {{ component('H3', {label: news.title}) }}
    <div class="flex flex-col items-start mt-12">
        <div class="leading-8 text-lg text-justify">
            {% if news.image is not empty %}
                <img class="w-2/3  md:w-1/4 md:float-left h-auto mx-auto md:mr-4 rounded-lg shadow-md"
                     src="images/news/{{ news.image }}"
                         alt="{{ news.title }}"
                         />
            {% endif %}
            {{ news.content | raw}}
        </div>
    </div>
</article>