{% extends 'themes/'~app_theme~'/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper bg-red-800 ">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/jiffy/dev/showcase_site_01/src/Controller/Public/Home/HomeController.php'|file_link(0) }}">src/Controller/Public/Home/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/jiffy/dev/showcase_site_01/templates/public/home/home/index.html.twig'|file_link(0) }}">templates/public/home/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
