{% extends 'themes/'~app_theme~'/layouts/section.html.twig' %}

   {% block id %} {{ app_album_section}} {% endblock %}
   {% block title %} {{ app_album_section}} {% endblock %}
   {% block content %}
       <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-5">
           {% for image in images_from_albums %}

               {{ component('AlbumCard', {
                   id: image.album.id,
                   name: image.album.name,
                   slug: image.album.slug,
                   description: image.album.description,
                   fileName: image.fileName,
                   alt: image.alt,
               }) }}

           {% endfor %}
       </div>
   {% endblock %}