{% extends 'themes/'~app_theme~'/layouts/section.html.twig' %}

   {% block id %} {{ app_album_section}} {% endblock %}
   {% block title %} {{ app_album_section}} {% endblock %}
   {% block content %}
       <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-5">
           {% for album in albums %}

               {{ component('AlbumCard', {
                   id: album.id,
                   name: album.name,
                   slug: album.slug,
                   description: album.description,
                   fileName: album.images[0].fileName,
                   alt: album.images[0].alt,
               }) }}

           {% endfor %}
       </div>
   {% endblock %}