<div class="my-6">
    <a href="{% if route is not empty %} {{ path(route) }} {% else %} # {% endif %}"
       class="bg-secondary text-white px-6 py-2 rounded-sm">
        {{ label }}
    </a>
</div>