<a {{ attributes.defaults({
    class: "bg-transparent border border-secondary text-black/80 dark:text-darkBlack/80 font-semibold my-6 px-6 py-2 rounded-sm shadow-md shadow-black/80 dark:shadow-secondary/60 rounded[20px]"
}) }}>
    {% block content %} {% endblock %}
</a>