{% extends '/layouts/home-section.html.twig' %}

{% set title = "Reseaux sociaux" %}
{% set header = "Je suis sur ces réseaux, et vous ?" %}
{% set description = "Afficher vos réseaux sociaux sur votre landing page permet de renforcer votre présence en ligne, d'élargir votre audience et de créer une communauté engagée autour de votre marque. Cela offre à vos visiteurs un moyen direct de suivre vos actualités, d'interagir avec vous et de partager vos contenus, augmentant ainsi votre visibilité et votre crédibilité." %}

   {% block id %} Reseaux sociaux {% endblock %}
   {% block content %}
       <div class="w-full mx-auto m-8 flex justify-between items-center">
           {% for social_item in app_socials.get %}

               {{ component('Card:SocialHomeCard', {
                   name: social_item.name,
                   url: social_item.url
               }) }}
           {% endfor %}
       </div>
   {% endblock %}