{% extends 'themes/'~app_theme~'/layouts/section.html.twig' %}

   {% block id %} News {% endblock %}
   {% block title %} News {% endblock %}
   {% block content %}

       <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
{#       <div class="grid grid-rows-4 grid-flow-col gap-4">#}
           {% for item in news %}
               {{ component('News', {news: item}) }}
           {% endfor %}

           {{ component("Button", {
               'label': 'Toutes les actus',
               'route': 'app_news'
           }) }}
       </div>
   {% endblock %}