{% extends 'themes/'~app_theme~'/layouts/section.html.twig' %}

   {% block id %} Reseaux sociaux {% endblock %}
   {% block title %} Reseaux sociaux {% endblock %}
   {% block content %}
       <div class="w-full flex justify-start">
           {% for social_item in app_socials.get %}

               {{ component('Card:SocialHomeCard', {
                   name: social_item.name,
                   url: social_item.url
               }) }}
           {% endfor %}
       </div>
   {% endblock %}