<section class="my-16 p-6 flex flex-col justify-center {% block class %} {% endblock %}"
         id="{% block id %}#{% endblock %}">
    {% block background %} {% endblock %}
    <h2 class="font-poppins-semibold text-secondary text-sm leading-5  font-semibold text-center py-3">
        {% block title %}title{% endblock %}
    </h2>
    {% block content %}

    {% endblock %}
</section>