<a {{ attributes.defaults({
    class: "bg-light-neutral text-light-text-base dark:bg-dark-neutral dark:text-light-neutral font-semibold px-6 py-4 border-2 border-dark-neutral -neutral dark:border-light-neutral rounded-lg shadow-inner"
}) }}>
    {% block content %} {% endblock %}
</a>