<div class="">
    <section class="w-full bg-light-neutral-light/40 dark:bg-dark-neutral-light/40 rounded-md">
        <div class="w-4/5 lg:w-1/2 mx-auto p-8 space-y-8 bg-light-neutral-light dark:bg-dark-neutral-light border-x-8 border-light-primary-light/75">
            {% if title is defined %}
                <twig:Title:H2 class="font-poppins-semibold !text-light-text-highlight !dark:text-dark-text-highlight">
                    {{ title }}
                </twig:Title:H2>
            {% endif %}
            {% if header is defined %}
                <twig:Title:H3>
                    {{ header }}
                </twig:Title:H3>
            {% endif %}

            {% include "contact/_form.html.twig" %}

            {% if description is defined %}
                <p class="font-poppins-regular text-base leading-relaxes">
                    {{ description }}
                </p>
            {% endif %}
        </div>
    </section>
</div>