<!DOCTYPE html>
<html lang="fr_BE" class="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Site description"{% endblock %}">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{% block og_title %}Welcome{% endblock %}">
    <meta property="og:description" content="{% block og_description %} Site Description{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="{% block og_image %} {% endblock %}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body class="w-full min-h-screen  overflow-x-hidden font-poppins-regular bg-light-neutral text-light-text-base dark:bg-dark-neutral dark:text-dark-text-base{% block body_class %} {% endblock %} ">
{% block body_background %} {% endblock %}
{% set pages = {
    'app_home': 'Accueil',
} %}
{% if app_active_sections.service is defined and app_active_sections.service %}
    {% set pages = pages|merge({'app_services': 'Services'}) %}
{% endif %}
{% if app_active_sections.photo is defined and app_active_sections.photo %}
    {% set pages = pages|merge({'app_albums_index': 'Photos'}) %}
{% endif %}
{% if app_active_sections.news is defined and app_active_sections.news %}
    {% set pages = pages|merge({'app_news': 'News'}) %}
{% endif %}
{% include '_parts/_header.html.twig' with {routes: pages} %}

<main class="flex flex-col justify-between h-full w-full md:max-w-6xl md:max-w-7xl shadow shadow-md shadow-dark-neutral-light/30 dark:shadow-light-neutral/30 m-auto relative">
    {% for message in app.flashes('success') %}
        <div class="w-full bg-primary/10 text-primary py-6 px-3">
            {{ message }}
        </div>
    {% endfor %}
    <div class="w-full p-0 m-0">
        {% block body %}{% endblock %}
    </div>
    {% include '/_parts/_footer.html.twig' %}

</main>
</body>
</html>
