<div style="background-image: url('/images/albums/{{ fileName }}')"
     class="relative border-4 border-secondary/70 dark:border-white/50 rounded-[24px] bg-no-repeat bg-cover bg-center
        {% if (loop_index is same as(4)) or (loop_index is same as(11)) or (loop_index is same as(25)) or (loop_index is divisible by(7)) %}
        md:col-span-2 md:aspect-auto
        {% elseif  (loop_index is divisible by(3)) %}
        col-span-2 md:col-auto  aspect-square
        {% else %}
      {#  aspect-74#} aspect-square
        {% endif %}">
    <div class="absolute w-full left-0 bottom-0 px-3 pt-6 pb-3 bg-gradient-to-b from-transparent to-white/90 text-black font-black rounded-[20px]">
        <a href="{{ path('app_album_show', {slug: album_slug}) }}" class="text-lg underline">{{ album_name }}</a>
    </div>
</div>