{% extends 'themes/'~app_theme~'/layouts/home-section.html.twig' %}

   {% block id %} News {% endblock %}
   {% block title %} News {% endblock %}
   {% block content %}
       {{ component('H3', {
           label: "Restez informé avec nos actualités récentes dans la section News.",
           class: "text-center"
       }) }}

       <div class="w-full md:w-2/3 mx-auto my-16 grid grid-cols-1 md:grid-cols-2 gap-5">
           {% for item in news %}
               {{ component('News', {news: item}) }}
           {% endfor %}

           {{ component("Button", {
               'label': 'Toutes les actus',
               'route': 'app_news'
           }) }}
       </div>
   {% endblock %}