<a {{ attributes.defaults({
    class: "pointer inline-block underline text-secondary dark:text-darkSecondary hover:text-secondary/90 hover:dark:text-darkSecondary/90"
}) }}>
    {% block content %} {% endblock %}
</a>